<app-navsidebar>
</app-navsidebar>
<div id="content" class="pmd-content inner-page">
  <div *ngIf="users.length>0">
    <div class="user-card" id="{{user._id}}" *ngFor="let user of users">
      <div class="pmd-card pmd-card-default pmd-z-depth">
        <div class="pmd-card-media" *ngIf="user.profile">
          <img src="http://propeller.in/assets/images/profile-pic.png" *ngIf="!user.profile.avatar" width="1184" height="666" class="img-responsive">
          <img src="{{ this.authService.endpoint(user.profile.avatar) }}" *ngIf="user.profile.avatar" width="1184" height="666" class="img-responsive">
        </div>
        <div class="pmd-card-media" *ngIf="!user.profile">
          <img src="http://propeller.in/assets/images/profile-pic.png"  width="1184" height="666" class="img-responsive">
        </div>
        <div class="pmd-card-title">
          <h2 class="pmd-card-title-text">{{ user.username}}</h2>
          <span class="pmd-card-subtitle-text"></span>
        </div>	
        <div class="pmd-card-actions" *ngIf="conn!=user._id">
          <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" (click)="onAcceptClick(user._id)"><i class="material-icons md-dark pmd-sm">person_add</i><span>Accept</span></button>
          <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-danger" (click)="onDeclineClick(user._id)"><i class="material-icons md-dark pmd-sm">remove_circle_outline</i><span>Decline</span></button>
        </div>
        <div class="pmd-card-actions" *ngIf="conn==user._id">
          <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" ><i class="material-icons md-dark pmd-sm">email</i><span>Message</span></button>
        </div>
      </div>
    </div>
  </div>
  <h2 *ngIf="users.length==0"> Looks like you don't have any pending connection request! </h2>
</div>
