.pmd-content {
    padding-top: 80px;
    padding-bottom: 90px;
    padding-left: 10px;
    padding-right: 10px;
}

.customicon{
    font-size: 24px;
}

.post-update {
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.post-update .pmd-card-body,.form-group.pmd-textfield,.pmd-card-actions .btn {
    margin-bottom: 0;
}

.right-button {
    float: right;
}

.post-contain .pmd-card.pmd-card-default.pmd-z-depth {
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 20px;
}