<app-navsidebar>
</app-navsidebar>
<div id="content" class="pmd-content inner-page">
  <div class="post-update">
    <form (submit)="postSubmit()">
    <div class="pmd-card pmd-card-default pmd-z-depth">
      <!--
      <div class="pmd-card-title">
        <div class="media-left">
        <a class="avatar-list-img" *ngIf="user.avatar">
          <img src="assets/uploads/{{user.avatar}}" width="40" height="40">
        </a>
        <a class="avatar-list-img" *ngIf="!user.avatar">
          <img src="assets/images/user-icon.png" width="40" height="40">
        </a>
        </div>
        <div class="media-body media-middle">
        <h3 class="pmd-card-title-text">{{ user.fullname ? user.fullname  : user.username }}</h3>
        </div>
      </div>  
      --> 
      <div class="pmd-card-body">
        <div class="form-group pmd-textfield">
          <textarea required="" [(ngModel)]="body" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="What are you upto?"></textarea><span class="pmd-textfield-focused"></span>
        </div>
      </div>
      <div class="pmd-card-actions">
        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-md customicon">add_a_photo</i></button>
        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-md customicon">attachment</i></button>
        <input type="submit" class="btn btn-primary right-button" value="Post" />
      </div>
    </div>
    </form>
  </div>
  <div class="post-contain">
    <div *ngFor="let post of posts">
      <div class="pmd-card pmd-card-default pmd-z-depth">
					<div class="pmd-card-title">
					  <div class="media-left">
						<a class="avatar-list-img" href="javascript:void(0);">
							<img src="http://propeller.in/components/list/img/40x40.png" width="40" height="40">
						</a>
					  </div>
					  <div class="media-body media-middle">
						<h3 class="pmd-card-title-text">{{post.uploader.name}}</h3>
						<span class="pmd-card-subtitle-text">{{post.updatedAt}}</span>
					  </div>
          </div>
          <!--
					<div class="pmd-card-media">
						<img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-responsive">
					</div>
          -->
					<div class="pmd-card-body">
              {{post.body}}
					</div>
					<div class="pmd-card-actions">
						<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
						<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
					</div>
        </div>
      </div>
  </div>
</div>
