<!-- Header Starts -->
<!--Start Nav bar -->
<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">

  <div class="container-fluid">
    <div class="pmd-navbar-right-icon pull-right navigation">

      <!-- Notifications -->
      <div class="dropdown notification icons pmd-dropdown">

        <a href="javascript:void(0)" title="Notification" class="dropdown-toggle pmd-ripple-effect" data-toggle="dropdown" role="button"
          aria-expanded="true">
          <div data-badge="3" class="material-icons md-light pmd-sm pmd-badge  pmd-badge-overlap">notifications_none</div>
        </a>

        <div class="dropdown-menu dropdown-menu-right pmd-card pmd-card-default pmd-z-depth" role="menu">
          <!-- Card header -->
          <div class="pmd-card-title">
            <div class="media-body media-middle">
              <a class="pull-right">3 new notifications</a>
              <h3 class="pmd-card-title-text">Notifications</h3>
            </div>
          </div>

          <!-- Notifications list -->
          <ul class="list-group pmd-list-avatar pmd-card-list">
            <li class="list-group-item hidden">
              <p class="notification-blank">
                <span class="dic dic-notifications-none"></span>
                <span>You don´t have any notifications</span>
              </p>
            </li>
            <li class="list-group-item unread">
              <a href="javascript:void(0)">
                <div class="media-left">
                  <span class="avatar-list-img40x40">
                        <img alt="40x40" data-src="holder.js/40x40" class="img-responsive" src="assets/images/profile-1.png" data-holder-rendered="true">
                      </span>
                </div>
                <div class="media-body">
                  <span class="list-group-item-heading"><span>Prathit</span> posted a new challanegs</span>
                  <span class="list-group-item-text">5 Minutes ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="javascript:void(0)">
                <div class="media-left">
                  <span class="avatar-list-img40x40">
                        <img alt="40x40" data-src="holder.js/40x40" class="img-responsive" src="assets/images/profile-2.png" data-holder-rendered="true">
                      </span>
                </div>
                <div class="media-body">
                  <span class="list-group-item-heading"><span>Keel</span> Cloned 2 challenges.</span>
                  <span class="list-group-item-text">15 Minutes ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item unread">
              <a href="javascript:void(0)">
                <div class="media-left">
                  <span class="avatar-list-img40x40">
                        <img alt="40x40" data-src="holder.js/40x40" class="img-responsive" src="assets/images/profile-3.png" data-holder-rendered="true">
                      </span>
                </div>

                <div class="media-body">
                  <span class="list-group-item-heading"><span>John</span> posted new collection.</span>
                  <span class="list-group-item-text">25 Minutes ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item unread">
              <a href="javascript:void(0)">
                <div class="media-left">
                  <span class="avatar-list-img40x40">
                        <img alt="40x40" data-src="holder.js/40x40" class="img-responsive" src="assets/images/profile-4.png" data-holder-rendered="true">
                      </span>
                </div>
                <div class="media-body">
                  <span class="list-group-item-heading"><span>Valerii</span> Shared 5 collection.</span>
                  <span class="list-group-item-text">30 Minutes ago</span>
                </div>
              </a>
            </li>
          </ul>
          <!-- End notifications list -->

        </div>


      </div>
      <!-- End notifications -->
    </div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle" style="display: inherit;"><i class="material-icons">menu</i></a>
      <a class="navbar-brand">
            CampusCrowd
          </a>
    </div>
  </div>

</nav>
<!--End Nav bar -->
<!-- Header Ends -->

<!-- Sidebar Starts -->
<div class="pmd-sidebar-overlay"></div>

<!-- Left sidebar -->
<aside class="pmd-sidebar sidebar-default pmd-sidebar-left bg-fill-darkblue sidebar-with-icons pmd-sidebar-left-fixed" role="navigation">
  
  <ul class="nav pmd-sidebar-nav">

    <li class="dropdown pmd-dropdown pmd-user-info visible-xs visible-md visible-sm visible-lg">
      <a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" aria-expandedhref="javascript:void(0);">
        <div class="media-left" *ngIf="user.avatar">
          <img src="{{ this.authService.endpoint(user.avatar) }}" alt="New User" class="propic">
        </div>
        <div class="media-left" *ngIf="!user.avatar">
          <img src="assets/images/user-icon.png" alt="New User" class="propic">
        </div>
        <div class="media-body media-middle">{{ user.fullname ? user.fullname  : user.username }}</div>
        <div class="media-right media-middle"><i class="dic-more-vert dic"></i></div>
      </a>
      <div class="pmd-dropdown-menu-container">
        <div class="pmd-dropdown-menu-bg"></div>
        <ul class="dropdown-menu">
          <li><a>Profile</a></li>
        </ul>
      </div>
    </li>

    <li>
      <a class="pmd-ripple-effect" [routerLink]="['/dashboard']">	
            <i class="media-left media-middle"><svg version="1.1" x="0px" y="0px" width="19.83px" height="18px" viewBox="287.725 407.535 19.83 18" enable-background="new 287.725 407.535 19.83 18"
       xml:space="preserve">
    <g>
      <path fill="#C9C8C8" d="M307.555,407.535h-9.108v10.264h9.108V407.535z M287.725,407.535v6.232h9.109v-6.232H287.725z
         M296.834,415.271h-9.109v10.264h9.109V415.271z M307.555,419.303h-9.108v6.232h9.108V419.303z"/>
    </g>
    </svg></i>
            <span class="media-body">Dashboard</span>
          </a>
    </li>

    <li>
      <a class="pmd-ripple-effect">	
            <i class="media-left media-middle">
            <svg version="1.1" x="0px" y="0px" width="18px" height="12.479px" viewBox="288.64 363.118 18 12.479" enable-background="new 288.64 363.118 18 12.479" xml:space="preserve">
              <g transform="translate(641.29613,1096.2351)">
                <path fill="#C9C8C8" d="M-352.656-726.466v-5.828l4.484,4.484c2.467,2.466,4.499,4.484,4.516,4.484s2.049-2.018,4.516-4.484
                  l4.484-4.484v5.828v5.828h-9h-9V-726.466z M-347.854-728.929l-4.188-4.188h8.385h8.386l-4.188,4.188
                  c-2.304,2.303-4.192,4.188-4.198,4.188S-345.551-726.626-347.854-728.929z"/>
              </g>
            </svg></i> 
            <span class="media-body">Inbox</span>
          </a>
    </li>

    <li>
      <a class="pmd-ripple-effect">	
            <i class="material-icons media-left pmd-sm">supervisor_account</i>
            <span class="media-body">My Network</span>
          </a>
    </li>

    <li>
      <a class="pmd-ripple-effect" [routerLink]="['/requests']">	
            <i class="material-icons media-left pmd-sm">person_add</i>
            <span class="media-body">Connection Requests</span>
          </a>
    </li>

    <li>
      <a class="pmd-ripple-effect" [routerLink]="['/discover']">	
            <i class="material-icons media-left pmd-sm">swap_calls</i>
            <span class="media-body">Discover</span>
          </a>
    </li>

    <li> 
			<a class="pmd-ripple-effect" (click)="onLogoutClick()">	
				<i class="media-left media-middle">
				<svg version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="288.64 337.535 18 18" enable-background="new 288.64 337.535 18 18" xml:space="preserve">
				<path fill="#C9C8C8" d="M295.39,337.535v2.25h9v13.5h-9v2.25h11.25v-18H295.39z M297.64,342.035v3.375h-9v2.25h9v3.375l3.375-3.375
					l1.125-1.125l-1.125-1.125L297.64,342.035z"></path>
				</svg></i> 
				<span class="media-body">Logout</span>
			</a> 
		</li>

  </ul>
</aside>
<!-- End Left sidebar -->
<!-- Sidebar Ends -->
