<div class="logincard">
  <div class="pmd-card card-default pmd-z-depth">
  <div class="login-card">
    <form (submit)="loginSubmit()">	
      <div class="pmd-card-title card-header-border text-center">
        <div class="loginlogo">
          <a href="javascript:void(0);"><img src="assets/images/logo-icon.png" alt="Logo"></a>
        </div>
        <h3>Sign In <span>with <strong>CampusCrowd</strong></span></h3>
      </div>
      
      <div class="pmd-card-body">
        <div class="alert alert-success" role="alert"> Oh snap! Change a few things up and try submitting again. </div>
                  <div class="form-group pmd-textfield pmd-textfield-floating-label">
                      <label for="inputError1" class="control-label pmd-input-group-label">Username</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">perm_identity</i></div>
                          <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputAmount">
                      </div>
                  </div>
                  
                  <div class="form-group pmd-textfield pmd-textfield-floating-label">
                      <label for="inputError1" class="control-label pmd-input-group-label">Password</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">lock_outline</i></div>
                          <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputAmount">
                      </div>
                  </div>
              </div>
      <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
        <div class="form-group clearfix">
          <div class="checkbox pull-left">
            <label class="pmd-checkbox checkbox-pmd-ripple-effect">
              <input type="checkbox" checked="" value="">
              <span class="pmd-checkbox"> Remember me</span>
            </label>
          </div>
          <span class="pull-right forgot-password">
            <a href="javascript:void(0);">Forgot password?</a>
          </span>
        </div>
        <input type="submit" class="btn pmd-ripple-effect btn-primary btn-block" value="Login">
                  
        <p class="redirection-link">Don't have an account? <a [routerLink]="['/signup']" class="login-register">Sign Up</a>. </p>                  
      </div>

    </form>
  </div>
