<div class="logincard">
  <div class="pmd-card card-default pmd-z-depth">

    <div class="register-card">
      <div class="pmd-card-title card-header-border text-center">
        <div class="loginlogo">
          <a href="javascript:void(0);"><img src="assets/images/logo-icon.png" alt="Logo"></a>
        </div>
        <h3>Sign Up <span>with <strong>CampusCrowd</strong></span></h3>
      </div>
      <form (submit)="signupSubmit()">
        <div class="pmd-card-body">

          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Username</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">perm_identity</i></div>
              <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputAmount">
            </div>
          </div>

          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">email</i></div>
              <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputAmount">
            </div>
          </div>

          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Password</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">lock_outline</i></div>
              <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputAmount">
            </div>
          </div>

          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Confirm Password</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">lock_outline</i></div>
              <input type="password" [(ngModel)]="cpassword" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputAmount">
            </div>
          </div>
        </div>

        <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
          <input type="submit" class="btn pmd-ripple-effect btn-primary btn-block" value="Sign Up">
          <p class="redirection-link">Already have an account? <a [routerLink]="['/login']" class="register-login">Sign In</a>. </p>
        </div>
      </form>
    </div>

  </div>
</div>
