.inner-page {
    display: flex;
    flex-wrap: wrap;
}

.pmd-card{
    max-width: 280px;
    margin: 20px 20px;
}

button.btn.pmd-btn-flat {
    display: flex;
    align-items: center;
    margin: 0;
}

.pmd-card-actions {
    display: flex;
    justify-content: space-around;
}

button.btn.pmd-btn-flat span {
    margin: 0 3px;
}

h2.pmd-card-title-text{
    text-align: center;
}

img.img-responsive {
    height: 150px;
    object-fit: cover;
}