<app-navsidebar>
</app-navsidebar>
<div id="content" class="pmd-content inner-page">
  <div class="user-card" id="{{user._id}}" *ngFor="let user of users">
    <div class="pmd-card pmd-card-default pmd-z-depth" *ngIf="user._id!=curruser.id">
      <div class="pmd-card-media" *ngIf="user.profile">
        <img src="http://propeller.in/assets/images/profile-pic.png" *ngIf="!user.profile.avatar" width="1184" height="666" class="img-responsive">
        <img src="{{ this.authService.endpoint(user.profile.avatar) }}" *ngIf="user.profile.avatar" width="1184" height="666" class="img-responsive">
      </div>
      <div class="pmd-card-media" *ngIf="!user.profile">
        <img src="http://propeller.in/assets/images/profile-pic.png"  width="1184" height="666" class="img-responsive">
      </div>
      <div class="pmd-card-title">
        <h2 class="pmd-card-title-text">{{ user.username}}</h2>
        <span class="pmd-card-subtitle-text"></span>
      </div>	
      <div class="pmd-card-actions" [hidden]="user.recievedrequests.indexOf(curruser.id)>-1">
        <button type="button" *ngIf="conn!=user._id" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" (click)="onConnectClick(user._id)"><i class="material-icons md-dark pmd-sm">person_add</i><span>Connect</span></button>
        <button type="button" *ngIf="conn==user._id" class="btn pmd-btn-flat pmd-ripple-effect btn-danger" (click)="onCancleClick(user._id)"><i class="material-icons md-dark pmd-sm">remove_circle_outline</i><span>Cancle Request</span></button>
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" ><i class="material-icons md-dark pmd-sm">email</i><span>Message</span></button>
      </div>
      <div class="pmd-card-actions" *ngIf="user.recievedrequests.indexOf(curruser.id)>-1">
          <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-danger" ><i class="material-icons md-dark pmd-sm">remove_circle_outline</i><span>Cancle Request</span></button>
          <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" ><i class="material-icons md-dark pmd-sm">email</i><span>Message</span></button>
      </div>
      <div class="pmd-card-actions" *ngIf="user.network.indexOf(curruser.id)>-1">
          <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" ><i class="material-icons md-dark pmd-sm">email</i><span>Message</span></button>
      </div>
    </div>
  </div>
</div>
