<div class="section section-custom">
  <h2>Profile</h2>
  <form (submit)="profileSubmit()">
    <div class="pmd-card pmd-z-depth">
      <div class="pmd-card-body">
        <div data-provides="fileinput" class="fileinput fileinput-new col-lg-3">
          <div data-trigger="fileinput" class="fileinput-preview thumbnail img-circle img-responsive">
            <img src="assets/images/avtar-b.jpg">
          </div>
          <div class="action-button">
            <span class="btn btn-default btn-raised btn-file ripple-effect">
                <span class="fileinput-new"><i class="material-icons md-light pmd-xs">add</i></span>
            <span class="fileinput-exists"><i class="material-icons md-light pmd-xs">mode_edit</i></span>
            <input type="file" id="avatar">
            </span>
            <a data-dismiss="fileinput" class="btn btn-default btn-raised btn-file ripple-effect fileinput-exists" href="javascript:void(0);"><i class="material-icons md-light pmd-xs">close</i></a>
          </div>
        </div>
        <div class="group-fields clearfix row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="regular1" class="control-label">
             First Name*
             </label>
              <input required type="text" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" class="form-control"><span class="pmd-textfield-focused"></span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="regular1" class="control-label">
             Last Name*
             </label>
              <input required type="text" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" class="form-control"><span class="pmd-textfield-focused"></span>
            </div>
          </div>
        </div>
        <div class="group-fields clearfix row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="regular1" class="control-label">
             College Name*
             </label>
              <input required type="text" [(ngModel)]="college" [ngModelOptions]="{standalone: true}" class="form-control"><span class="pmd-textfield-focused"></span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="regular1" class="control-label">
               Branch
               </label>
                <input type="text" [(ngModel)]="branch" [ngModelOptions]="{standalone: true}" class="form-control"><span class="pmd-textfield-focused"></span>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="regular1" class="control-label">
               Current Year
               </label>
                <input type="text" [(ngModel)]="year" [ngModelOptions]="{standalone: true}" class="form-control"><span class="pmd-textfield-focused"></span>
              </div>
          </div>
        </div>
        <div class="group-fields clearfix row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label>City</label>
              <select [(ngModel)]="city" [ngModelOptions]="{standalone: true}" class="select-simple form-control pmd-select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
              <option></option>
              <option>Dallas Cowboys</option>
              <option>New York Giants</option>
              <option>Philadelphia Eagles</option>
              <option>Washington Redskins</option>
              <option>Chicago Bears</option>
              <option>Detroit Lions</option>
              <option>Green Bay Packers</option>
              <option>Minnesota Vikings</option>
              <option>Arizona Cardinals</option>
              <option>St. Louis Rams</option>
              <option>San Francisco 49ers</option>
              <option>Seattle Seahawks</option>
              <option>Baltimore Ravens</option>
              <option>Cincinnati Bengals</option>
              <option>Cleveland Browns</option>
              <option>Pittsburgh Steelers</option>
              <option>Houston Texans</option>
              <option>Indianapolis Colts</option>
              <option>Jacksonville Jaguars</option>
              <option>Tennessee Titans</option>
              <option>Denver Broncos</option>
              <option>Kansas City Chiefs</option>
              <option>Oakland Raiders</option>
              <option>San Diego Chargers</option>
            </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 178px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-x48d-container"><span class="select2-selection__rendered" id="select2-x48d-container" title=""></span>
              <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
              </span>
              </span><span class="dropdown-wrapper" aria-hidden="true"></span></span><span class="pmd-textfield-focused"></span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label>State</label>
              <select [(ngModel)]="state" [ngModelOptions]="{standalone: true}" class="select-simple form-control pmd-select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
              <option></option>
              <option>Dallas Cowboys</option>
              <option>New York Giants</option>
              <option>Philadelphia Eagles</option>
              <option>Washington Redskins</option>
              <option>Chicago Bears</option>
              <option>Detroit Lions</option>
              <option>Green Bay Packers</option>
              <option>Minnesota Vikings</option>
              <option>Arizona Cardinals</option>
              <option>St. Louis Rams</option>
              <option>San Francisco 49ers</option>
              <option>Seattle Seahawks</option>
              <option>Baltimore Ravens</option>
              <option>Cincinnati Bengals</option>
              <option>Cleveland Browns</option>
              <option>Pittsburgh Steelers</option>
              <option>Houston Texans</option>
              <option>Indianapolis Colts</option>
              <option>Jacksonville Jaguars</option>
              <option>Tennessee Titans</option>
              <option>Denver Broncos</option>
              <option>Kansas City Chiefs</option>
              <option>Oakland Raiders</option>
              <option>San Diego Chargers</option>
            </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 178px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-czzf-container"><span class="select2-selection__rendered" id="select2-czzf-container" title=""></span>
              <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
              </span>
              </span><span class="dropdown-wrapper" aria-hidden="true"></span></span><span class="pmd-textfield-focused"></span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label>Country*</label>
              <select [(ngModel)]="country" [ngModelOptions]="{standalone: true}" class="select-simple form-control pmd-select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
              <option></option>
              <option>USA</option>
              <option>India</option>
            </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 178px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-czzf-container"><span class="select2-selection__rendered" id="select2-czzf-container" title=""></span>
              <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
              </span>
              </span><span class="dropdown-wrapper" aria-hidden="true"></span></span><span class="pmd-textfield-focused"></span>
            </div>
          </div>
        </div>          
        <div class="group-fields clearfix row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label class="control-label">Bio</label>
              <textarea class="form-control"></textarea><span class="pmd-textfield-focused"></span>
            </div>
          </div>
        </div>
 
      </div>
      <div class="pmd-card-actions">
        <input type="submit" class="btn btn-primary next" value="Save">
        <input type="button" [routerLink]="['/dashboard']" class="btn btn-default" value="Skip">
      </div>
    </div>

  </form>
</div>
